.navbar-brand img {
  height: 120px;
  width: 120px;
  padding: 0;  
  margin: -15px 10px -15px 0;  
}

.navbar-brand {
  display: inline;
}

.nav-item, .nav-link {
  font-size: 1.2rem;
}

.navbar {
  background-color: #00032B;
}